[Unit]
Description=
After=syslog.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/cloud/telegramBots/apimania-bot/src/main.py

[Install]
WantedBy=multi-user.target